[Unit]
Description=MQTT Client Autostart
After=network.target

[Service]
Type=simple
ExecStart=/root/scout-files/run_mqtt.sh
Restart=always
User=root
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
